<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pbl.viewplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenCV">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebOCRResult"></activity>
        <activity android:name=".historyDetail" />
        <activity android:name=".History"></activity>
        <activity android:name=".WebBrowser" />
        <activity android:name=".WebResult" />
        <activity
            android:name=".RegexDialog"
            android:theme="@style/Theme.AppCompat.Dialog" /> <!-- 카메라 메모리초과 오류 -->
        <activity android:name=".AzureImage" />
        <activity
            android:name=".Intro"
            android:screenOrientation="portrait"> <!-- 가로 화면 고정 -->

        </activity>
        <activity
            android:name=".Dialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".OCR_TTS" />
        <activity
            android:name=".AzureImage"
            tools:ignore="DuplicateActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pbl.viewplus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>